APP_PORT=8080

SMTP_HOST_FIRST=
SMTP_PORT_FIRST=
SMTP_USER_FIRST=
SMTP_PASS_FIRST=




SMTP_HOST_SECOND=
SMTP_PORT_SECOND=
SMTP_USER_SECOND=
SMTP_PASS_SECOND=

SMTP_HOST_THIRD=
SMTP_PORT_THIRD=
SMTP_USER_THIRD=
SMTP_PASS_THIRD=
